.container{
    text-align: center;
    height: 70vh;
}

.image{

    width: 50vw;
}

.i1{
    cursor: url('../../../assets/cursor/1.png'), auto;
}
.i2{
    cursor: url('../../../assets/cursor/2.png'), auto;
}
.i3{
    cursor: url('../../../assets/cursor/3.png'), auto;
}
.i4{
    cursor: url('../../../assets/cursor/4.png'), auto;
}
.i5{
    cursor: url('../../../assets/cursor/5.png'), auto;
}
.i6{
    cursor: url('../../../assets/cursor/6.png'), auto;
}
.i7{
    cursor: url('../../../assets/cursor/7.png'), auto;
}
.i8{
    cursor: url('../../../assets/cursor/8.png'), auto;
}
.i9{
    cursor: url('../../../assets/cursor/9.png'), auto;
}
.i10{
    cursor: url('../../../assets/cursor/10.png'), auto;
}
.i11{
    cursor: url('../../../assets/cursor/11.png'), auto;
}


.bottomScrollable{
    position:fixed;
    font-size: 2vw;
    font-style: italic;
    bottom:0px;
    border-top: 1px solid;
    padding: 10px;
    background-color: white;
}
