
.topBar{
    padding: 1%;
    font-size:medium;
    overflow:hidden;
    text-align: center;
    border-bottom: 2px solid;

}

.buttonD{

    font-size: 2.5vw;
    background-color: transparent;
    border: none;
}

#idiomes{
    width: 100%;
    position: absolute;
    z-index: 200;

}

.idioma{
    background-color: white;
    text-align: center;
    border:1px solid;
    border-radius: 2px;
    width: 5%;
    padding: 5px;
    margin-left:auto;
    margin-right:0;
}



