
.topBar{
    padding: 1%;
    font-size:medium;
    overflow:hidden;
    text-align: center;
    border-bottom: 1px solid;

}

.buttonD{

    font-size: 2.5vw;
    background-color: transparent;
    border: none;
}





