.box{
    border: 1px solid gray;
    width: fit-content;
    position: absolute;
    z-index: 100;
    background-color: white;
    padding: 5px;
    font-style: italic;
    font-size: 1.3vw;
    text-align: center;
}

.diagonal{
    margin-top: 10px;
    border-top: 1px solid gray;
    width: 80%;
    transform: rotate(80deg)
}

img{
    width: 20vw;
    position: absolute;
}


#i1{
    left: 12vw; 
    top: 21vh;
}
#i2{
    left: 9vw; 
    top: 44vh;
    width: 13vw;
}
#i3{
    left: 60vw; 
    top: 39vh;
}
#i4{
    left: 63vw; 
    top: 45vh;
    width: 14vw;
}
#i5{
    font-size: 0.7vw;
    left: 57vw; 
    top: 60vh;
    width: 5vw;
}
#i6{
    left: 81vw; 
    top: 70vh;
}
#i7{
    left: 82vw; 
    top: 77vh;
    width: 10vw;
    font-size: 0.7vw;
}#i8{
    left: 37vw; 
    top: 66vh;
    z-index: 200;
}#i9{
    left: 20vw; 
    top: 70vh;
    width: 18vw
}#i10{
    left: 50vw; 
    top: 110vh;
    width: 10vw;
    font-size: 1vw;

}#i11{
    left: 80vw; 
    top: 88vh;
}#i12{
    left: 82vw; 
    top: 94vh;
    width: 8vw;
    font-size: 0.7vw;

}#i13{
    left: 10vw; 
    top: 152vh;
}#i14{
    left: 12vw; 
    top: 160vh;
    font-size: 1vw;
    width: 10vw;
}#i15{
    left: 85vw; 
    top: 160vh;
    z-index: 200;
}#i16{
    left: 70vw; 
    top: 151vh;
    font-size: 1vw;
    width: 15vw;
}#i17{
    left: 47vw; 
    top: 176vh;
}#i18{
    left: 35vw; 
    top: 182vh;
    width: 15vw;
}#i19{
    left: 46vw; 
    top: 211vh;
}#i20{
    left: 48vw; 
    top: 205vh;
    width: 8vw;
    font-size: 0.7vw;
}#i21{
    left: 72vw; 
    top: 285vh;
    z-index: 200;
}#i22{
    left: 82vw; 
    top: 240vh;
    font-size: 0.7vw;
    width: 10vw;
}#i23{
    left: 60vw; 
    top: 280vh;
    width: 10.5vw;
}#i24{
    left: 72vw; 
    top: 300vh;
    font-size: 0.7vw;
    width: 10vw;
}#i25{
    left: 23vw; 
    top: 260vh;
    z-index: 200;
}#i26{
    left: 28vw; 
    top: 263vh;
    width: 20vw;
}