.box{
    border: 1px solid gray;
    width: fit-content;
    position: absolute;
    z-index: 100;
    background-color: white;
    padding: 5px;
    font-style: italic;
    font-size: large;
    text-align: center;
}

img{
    height: 30vh;
    width:  auto;
    position: absolute;
}


#i1{
    left: 14%; 
    top: 22%;
}
#i2{
    left: 10%; 
    top: 45%;
    width: 13%;
}
#i3{
    left: 60%; 
    top: 27%;
}
#i4{
    left: 64%; 
    top: 32%;
    width: 13%;
}
#i5{
    font-size: small;
    left: 57%; 
    top: 43%;
    width: 5%;
}
#i6{
    left: 81%; 
    top: 50%;
}
#i7{
    left: 82%; 
    top: 57%;
    width: 10%;
    font-size: small;
}#i8{
    left: 37%; 
    top: 62%;
    z-index: 200;
}#i9{
    left: 20%; 
    top: 65%;
    width: 18%
}#i10{
    left: 48%; 
    top: 82%;
    width: 10%;
    font-size: medium;

}#i11{
    left: 80%; 
    top: 77%;
}#i12{
    left: 82%; 
    top: 84%;
    width: 8%;
    font-size: small;

}#i13{
    left: 10%; 
    top: 110%;
}#i14{
    left: 12%; 
    top: 118%;
    font-size: medium;
    width: 10%;
}#i15{
    left: 87%; 
    top: 115%;
}#i16{
    left: 68%; 
    top: 105%;
    font-size: medium;
    width: 15%;
}#i17{
    left: 50%; 
    top: 139%;
}#i18{
    left: 35%; 
    top: 145%;
    width: 15%;
}#i19{
    left: 55%; 
    top: 154%;
}#i20{
    left: 50%; 
    top: 160%;
    width: 8%;
    font-size: small;
}#i21{
    left: 80%; 
    top: 192%;
    z-index: 200;
}#i22{
    left: 82%; 
    top: 165%;
    font-size: small;
    width: 10%;
}#i23{
    left: 70%; 
    top: 188%;
    width: 9.5%;
}#i24{
    left: 82%; 
    top: 205%;
    font-size: small;
    width: 10%;
}#i25{
    left: 23%; 
    top: 185%;
    z-index: 200;
}#i26{
    left: 28%; 
    top: 188%;
    width: 20%;
}