<body>


    <div>
        <img style = "left: 18vw; top: 20vh;" src = "assets/cv/1.jpg">
        <img style = "left: 75vw; top: 15vh; width: 15vw;" src = '{{"assets/cv/2"+this.index2+".jpg"}}'>
        <img style = "left: 30vw; top: 90vh; width: 23vw;" src = '{{"assets/cv/3"+this.index3+".jpg"}}'>
        <img style = "left: 57vw; top: 78vh; height: 23vw;" src = '{{"assets/cv/4"+this.index4+".jpg"}}'>
        <img style = "left: 56vw; top: 160vh; height: 16.5vw;" src = '{{"assets/cv/5"+this.index5+".jpg"}}'>
        <img style = "left: 78vw; top: 150vh; height: 26vw;" src = '{{"assets/cv/6"+this.index6+".jpg"}}'>
        <img style = "left: 20vw; top: 190vh" src = '{{"assets/cv/7"+this.index7+".jpg"}}'>
        <img style = "left: 65vw; top: 225vh;" src = "assets/cv/8.jpg">

        <div class = "box" id = "i1">03/06/2000</div>
        <div class = "box" id = "i3">06/2016</div>
        <div class = "box" id = "i4"><span *ngIf = "global.idioma == 'cat'">EL MEU PARE EM REGALA LA SEVA CÀMERA DE FER FOTOS DESPRÉS D'ANYS D'INSISTÈNCIA</span><span *ngIf = "global.idioma == 'eng'">MY FATHER GIVES ME HIS PHOTO CAMERA AS A GIFT AFTER YEARS OF INSISTENCE</span></div>
        <div class = "box" id = "i5"><span *ngIf = "global.idioma == 'cat'">NIKON D100. UN MODEL DEL 2002</span><span *ngIf = "global.idioma == 'eng'">NIKON D100. A 2002 VERSION</span></div>
        <div class = "box" id = "i6">09/2016</div>
        <div class = "box" id = "i7"><span *ngIf = "global.idioma == 'cat'">EM MATRICULO AL BATXILLERAT ARTÍSTIC</span><span *ngIf = "global.idioma == 'eng'">I ENROLLED IN THE ARTISTIC PROGRAM OF MY HIGH SCHOOL</span></div>
        <div class = "box" id = "i8">07/2017</div>
        <div class = "box" id = "i9"><span *ngIf = "global.idioma == 'cat'">AMB GANES DE SEGUIR FORMANT-ME ARTÍSTICAMENT, VAIG DECIDIR REALITZAR LES PRÀCTIQUES D'EMPRESA AL MUSEU D'ART DE SABADELL</span> <span *ngIf = "global.idioma == 'eng'">WITH THE DESIRE TO CONTINUE MY ARTISTIC EDUCATION, I DECIDED TO DO MY INTERNSHIP AT SABADELL'S ART MUSEUM. </span> </div>
        <div class = "box" id = "i10"><span *ngIf = "global.idioma == 'cat'">UNA DE LES EXPOSICIONS EN LES QUE VAIG PARTICIPAR VA SER MAGEM INCANDESCENT</span><span *ngIf = "global.idioma == 'eng'">ONE OF THE EXHIBITIONS IN WHICH I PARTICIPATED WAS MAGEM INCANDESCENT</span></div>
        <div class = "box" id = "i11">06/2018</div>
        <div class = "box" id = "i12"><span *ngIf = "global.idioma == 'cat'">OBTINC EL CERTIFICAT D’ANGLÈS B2.2 A L’ESCOLA OFICIAL D’IDIOMES </span><span *ngIf = "global.idioma == 'eng'">I GET THE ENGLISH B2.2 CERTIFICATE AT THE OFFICIAL SCHOOL OF LANGUAGES</span> </div>
        <div class = "box" id = "i13">07/2018</div>
        <div class = "box" id = "i14"><span *ngIf = "global.idioma == 'cat'">VIATJO A ESCÒCIA A TREBALLAR A NETHERTON FARM B&B AMB LA VOLUNTAT DE SEGUIR MILLORANT L’ANGLÈS I SER CADA VEGADA MÉS AUTÒNOMA</span><span *ngIf = "global.idioma == 'eng'">I TRAVEL TO SCOTLAND TO WORK AT NETHERTON FARM B&B WITH THE WILL TO CONTINUE IMPROVING MY ENGLISH AND BECOME MORE AND MORE INDEPENDENT </span></div>
        <div class = "box" id = "i15">11/2018</div>
        <div class = "box" id = "i16"><span *ngIf = "global.idioma == 'cat'">VAIG FER-ME AMB UNA CAMERA ANALOGICA PER PROVAR I EXPERIMENTAR AMB NOUS FORMATS</span><span *ngIf = "global.idioma == 'eng'">I GOT AN ANALOG CAMERA TO TRY AND EXPERIMENT WITH NEW FORMATS </span></div>
        <div class = "box" id = "i17">09/2018</div>
        <div class = "box" id = "i18"><span *ngIf = "global.idioma == 'cat'">COMENÇO LA CARRERA DE DISSENY A ELISAVA AMB INTENCIÓ D'ESPECIALITZAR-ME A PRODUCTE</span><span *ngIf = "global.idioma == 'eng'">I STARTED MY DESIGN CAREER AT ELISAVA WITH THE INTENTION OF SPECIALIZING IN PRODUCT DESIGN </span></div>
        <div class = "box" id = "i19">09/2019</div>
        <div class = "box" id = "i20"><span *ngIf = "global.idioma == 'cat'">EM DECIDEIXO PER A LA MENCIÓ DE PRODUCTE</span><span *ngIf = "global.idioma == 'eng'">I FINALLY DECIDE FOR THE PRODUCT MENTION </span></div>
        <div class = "box" id = "i21">07/2021</div>
        <div class = "box" id = "i22"><span *ngIf = "global.idioma == 'cat'">PER TAL D’ESTALVIAR DURANT L’ESTIU</span><span *ngIf = "global.idioma == 'eng'">TO SAVE DURING THE SUMMER  </span></div>
        <div class = "box" id = "i23"><span *ngIf = "global.idioma == 'cat'">COMENÇO A TREBALLAR A LA SECCIÓ DE VENTA DE MOBLES D’OFICINA D’IKEA</span><span *ngIf = "global.idioma == 'eng'">I BEGAN WORKING IN THE OFFICE FURNITURE SALES SECTION OF IKEA </span></div>
        <div class = "box" id = "i24"><span *ngIf = "global.idioma == 'cat'">POSATS A TRIAR PREFERIA PODER TREBALLAR EN ALGUN ÀMBIT RELACIONAT AMB EL SECTOR</span><span *ngIf = "global.idioma == 'eng'">AT LEAST IT IS RELATED TO THE SECTOR </span></div>
        <div class = "box" id = "i25">02/2022</div>
        <div class = "box" id = "i26"><span *ngIf = "global.idioma == 'cat'">INICIO LES PRÀCTIQUES LABORALS EXTRACURRICULARS A L’ESTUDI JOAN GASPAR</span><span *ngIf = "global.idioma == 'eng'">I START AN INTERNSHIP AT JOAN GASPAR INDUSTRIAL DESIGN STUDIO</span></div>

    </div>




</body>